.input {
  margin: 1em 0;

  input {
    padding: .5rem;
    margin: 0 1em;
  }
  .field__error {
    border: 1px solid red;
    margin: 0 1em;
  }

  label {
    margin: 0 1em;
  }
  &__error {
    margin: 0 1em;
    color: red;
  }
}